<p> Show Page </p>


<head>
	<title>My Salons-SHOW</title>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<style type="text/css">
	.row{border-bottom: solid 4px gray; padding-bottom: 20px; margin-bottom: 20px; margin-top: 20px;}
	.jumbotron{margin-top: 60px; margin-bottom: 40px;}
	.nav{margin-top: 40px}
	.description{margin-bottom: 60px;}
	.button-centre{margin-top: 150px;}
	.image-main{margin-left: 125px;}
	.header-1{margin-left: 125px;}
	</style>
</head>
<body>
	<div class="container">
		<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">My Appointments</a></li>
  <li><a href="#">My Profile</a></li>
  <li><a href="#">Favorites</a></li>
  <li><a href="#">Previous Transactions</a></li>
</ul>

<!-- <ul class="nav nav-tabs nav-justified">
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Salons</a></li>
  <li><a href="#">My Appointments</a></li>
  <li><a href="#">My Profile</a></li>
</ul>
<div class="jumbotron">
  <p class="image-main">
  	<img src="file:///C:/Users/V/Desktop/Stylist Info Page/Salon Image.jpg" >
  </p>
  <h1 class="header-1">
  	My Salon <small>Evanston</small>
  </h1>
</div>
<!-- <div class="page-header">
  <h1>
  	My Salon <small>Evanston</small>
  </h1>
</div> -->
	<div class="description">
	<h2>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</h2>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img "col-md-12" src="file:///C:/Users/V/Desktop/Stylist Info Page/Rachel.jpg"class="img-circle"> 
		</div>
		<div class="col-md-3"
			<p><h3>Rachel</h3></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Check Schedule</button></p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Book Appointment</button></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img "col-md-12" src="file:///C:/Users/V/Desktop/Stylist Info Page/Phoebe.png"class="img-circle"> 
		</div>
		<div class="col-md-3"
			<p><h3>Phoebe</h3></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Check Schedule</button></p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Book Appointment</button></p>
		</div>
	</div>	<div class="row">
		<div class="col-md-3">
			<img "col-md-12" src="file:///C:/Users/V/Desktop/Stylist Info Page/Joey.jpg" class="img-circle"> 
		</div>
		<div class="col-md-3">
			<p><h3>Joey</h3></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Check Schedule</button></p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Book Appointment</button></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img "col-md-12" src="file:///C:/Users/V/Desktop/Stylist Info Page/Ross.png"class="img-circle"> 
		</div>
		<div class="col-md-3">
			<p><h3>Ross</h3></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Check Schedule</button></p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Book Appointment</button></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<img "col-md-12" src="file:///C:/Users/V/Desktop/Stylist Info Page/Monica.jpg"class="img-circle"> 
		</div>
		<div class="col-md-3">
			<p><h3>Monica</h3></p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Check Schedule</button></p>
		</div>
		<div class="col-md-2">
			<p class="button-centre"><button type="button" class="btn btn-primary btn-lg">Book Appointment</button></p>
		</div>
	</div>
	</div>
</body> -->